%html
  %head
    %title Visualising The Symmetrized Bidisc
  %body
    %h1 Visualising The Symmetrized Bidisc
    :markdown
      An old university project finds a home on the web thanks to github pages.
      
      The symmetrized bidisc is the set
      {z<sub>1</sub>z<sub>2</sub>, z<sub>1</sub>+z<sub>2</sub> : |z<sub>1</sub>| < 1, |z<sub>2</sub>| < 1}
      where z<sub>1</sub> and z<sub>2</sub> are complex numbers. (I think I've got that syntax right.
      If anyone can provide a snippet of latex let me know and I'll try a bit of javascript voodoo to make it look nice).
      
      This definition gives a set of pairs of complex numbers, with each complex number representing 2 real numbers,
      so it is a four dimensional set. This project was an attempt at visualising the set.
      
      To see it in action, go to the [applet page](bidisc.html). You'll need Java and Java3d installed. (If you're on
      a Mac you should be good to go.)
        